<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="app" value="google"></parameter>
    <test verbose="2" preserve-order="true"  name="Parameters Ex">
        <classes>
            <class name="com.test.ParametersExample"/>
        </classes>
    </test>
</suite>